section {
	margin-bottom: 2em;
}
.response {
	font-size: 1.5em;
}
.chosen-container { 
  display:block !important;
  margin: 0 auto;
}
.get-recommendation {
	 display:block !important;
	margin: 0 auto;
	font-size: 1.5em;
}